<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
  	<listener class-name="HybridFramework.E2Eproject.Listeners"/>
</listeners>

  <test thread-count="5" name="Validate Title">
    <classes>
      <class name="HybridFramework.E2Eproject.validateTest"/>
    </classes>
  </test> 
  <test thread-count="5" name="Login on Home page">
    <classes>
      <class name="HybridFramework.E2Eproject.HomePageTest"/>
    </classes>
  </test>
  <test thread-count="5" name="course test">
    <classes>
      <class name="HybridFramework.E2Eproject.CoursesTest"/>
    </classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
